node_modules

package-lock.json

config-test.json

.vscode/settings.json

ttt.json

memes.json

specs.json

starboard.json

userLevels.json

dmforwardblacklist.json

tokens.json

mutes.json

dailyMsgs.json

channelRestrictions.json

punishments.json

votes.json