node_modules

package-lock.json

config-test.json

.vscode/settings.json

/databases/ttt.json

/databases/memes.json

/databases/specs.json

/databases/starboard.json

/databases/userLevels.json

/databases/dmforwardblacklist.json

tokens.json

/databases/mutes.json

/databases/dailyMsgs.json

/databases/channelRestrictions.json

/databases/punishments.json
